@use "./function" as *;

$colorBlack: #000;
$colorWhite: #fff;
$colorMineShaft: #2c2c2c;
$colorShamRock: #32cd7a;
$colorAlabaster: #f8f8f8;
$colorChambray: #3e468f;
$colorAthensGray: #e8e8ed;
$colorFlamingo: #f26b39;

$mobileBreakpoint: 1024px;
